/* app-jogador{
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
} */

/* body{
    background-image: url(../assets/img/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */