/* .title-matchs{
    display: flex;
    justify-content: center;
    align-items: center;
    color:antiquewhite;
    background-color: rgba(184, 161, 131, 0.562);
    border-radius: 10px;
    height: 60px;
    margin-bottom: 15px;
}

.loading {
    background-image: url('../../assets/img/zed.gif');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    height: 300px;
    width: 250px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.matchMode{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.matches {
    margin-bottom: 100px;
    padding-bottom: 300px;
    list-style: none;
    width: 1215px;
} 

.mathes-info{
    margin-bottom: 20px;
}

.matches ul{
    margin-bottom: 50px;
    background-color: #a9a9a9a9;
    border-radius: 10px;
    list-style: none;
}

.matches  .participants{
    
    border-bottom: solid black ;
}

.summonerName{
    color: antiquewhite;
    font-size: 15px;
    width: 180px;
    padding-left: 20px;
}
.championimg{
    height: 50px;
    margin-left: 145px;
    border-radius: 10px;
    margin-bottom: 0;
}

.kda{
    margin-left: 100px;
    width: 150px;
}

.cs{
    width: 100px;
}

.gold{
    width: 250px;
}

.participants{
    display: flex;
}

h3{
    margin: 10px;
}

.participants img{
    height: 50px;
} */