.title-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000000;
    color: #fff;
    margin-top: 0;
}

.search-player{
    /* margin: 0 100px 0 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 10px ;
    background-image: url(../../assets/img/Zed-back.jpg);
    background-color: rgba(0, 0, 0, 0.651);
    background-position: top;
    background-repeat: no-repeat;
    color: #000000;
    border: solid #000000;
    border-radius: 10px;
}
.search-player label{
    font-weight: bold;
    font-size: 30px;
}

.search-player input{
    margin-top: 25px;
    height: 40px;
    width: 300px;
    border: solid 3px black;
    background: transparent;
    border-radius: 5px;
    padding: 5px;
}

.search-player input:active{
    background-color: transparent;
    color: #fff;
}
.search-player input::content{
    background-color: transparent;
}

.search-player button{
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #A9A9A9;

}
.search-player button:hover{
    background-color: #8B0000;
}

.loading {
    background-image: url('../../assets/img/zed.gif');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    height: 300px;
    width: 250px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  

.player-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 1215px;
    height: 420px;
    margin: 0;
}

.player-info .info{
    z-index: 1;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.player-info .info {
    bottom: 10px;
}

.player-info .info .profileicon{
    position: absolute;
    left: 20px;
    bottom: 20px;
    border-radius: 50%;
    height: 230px;
    border: solid;
}

.player-info .info2{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 500px;
    font-size: 40px;
    color: #000000;
    font-weight: 900;
    list-style: none;
    border: solid 3px black;
    background-color: #57575775;
    border-radius: 10px;
    padding: 10px;
}

.back-player{
    z-index: 0;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    clip: rect(0px, 1215px, 400px, 0px);
    border-radius: 10px;
}

.maestrys{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 1215px;
    height: 200px;
    margin: 15px;
    background-color: #a9a9a967;
    border-radius: 20px;
}

.maestrys .info-maestry{
    position: absolute;
    left: 13%;
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
}

.maestrys img{
    position: absolute;
    left: 3%;
    width: 100px;
    border-radius: 10px;
}

.matchs{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 1215px;
    margin: 15px;
    border-radius: 20px;
}