/* .title-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000000;
    color: #fff;
    margin-top: 0;
}

.search-player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 10px ;
    background-image: url(../../assets/img/Zed-back.jpg);
    background-color: rgba(0, 0, 0, 0.651);
    background-position: top;
    background-repeat: no-repeat;
    color: #000000;
    border: solid #000000;
    border-radius: 10px;
}
.search-player label{
    font-weight: bold;
    font-size: 30px;
}

.search-player input{
    margin-top: 25px;
    height: 40px;
    width: 300px;
    border: solid 3px black;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.search-player input:active{
    background-color: #00000041;
    color: #fff;
    backdrop-filter: blur;
}
.search-player input::content{
    background-color: #00000098;
}

.search-player button{
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #A9A9A9;

}
.search-player button:hover{
    background-color: #8B0000;
}

.loading {
    background-image: url('../../assets/img/zed.gif');
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    height: 300px;
    width: 250px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  

.player-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 1215px;
    height: 420px;
    margin: 0;
}

.player-info .info{
    z-index: 1;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.player-info .info {
    bottom: 10px;
}

.player-info .info .profileicon{
    position: absolute;
    left: 20px;
    bottom: 20px;
    border-radius: 50%;
    height: 230px;
    border: solid;
}

.player-info .info2{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 500px;
    font-size: 40px;
    color: #000000;
    font-weight: 900;
    list-style: none;
    border: solid 3px black;
    background-color: #57575775;
    border-radius: 10px;
    padding: 10px;
}

.back-player{
    z-index: 0;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    clip: rect(0px, 1215px, 400px, 0px);
    border-radius: 10px;
}

.maestrys{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 1215px;
    height: 200px;
    margin: 15px;
    background-color: #a9a9a967;
    border-radius: 20px;
}

.maestrys .info-maestry{
    position: absolute;
    left: 13%;
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
}

.maestrys img{
    position: absolute;
    left: 3%;
    width: 100px;
    border-radius: 10px;
}

.matchs{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 1215px;
    margin: 15px;
    border-radius: 20px;
}


.erro{ 
    margin-top: 30px;
    background-color: rgba(250, 235, 215, 0.466);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 300px;
    width: 1000px;
    padding: 10px;
    border-radius: 20px;
    z-index: 200    ;
}

.erro h1{
    text-align: center;
}

.erro img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
} */


.search-player{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 85vw;
    height: 20vh;
    background-color: #2b2a2a9a;
    background-repeat: no-repeat;
    backdrop-filter: blur(35px); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.search-player label{
    font-size: 40px;
    font-weight: bolder;
}

.search-player input{
    height: 60px;
    width: 250px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    background-color: #2e2e2e;
    backdrop-filter: blur(40px);
}

.search-player button {
    width: 150px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}


.search-player button:hover{
    background-color: #000;
    color: #fff;
}



.result{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 85vw;
    display: grid;
    grid-template: 300px 150vh/45% 45%;
    column-gap: 5%;
    row-gap: 20px;
    /* background-color: #2e2e2e; */
}



.result .player-info{
    position: relative;
    width: 100%;
    height:95%;
    grid-area: 1/1/2/2;
    padding-bottom: 20px;
}


.result .player-info .profileicon{
    position: absolute;
    width: 20%;
    bottom: 10px;
    left: 10px;
    border-radius: 15px;
    border:1px solid #2e2e2e;
    z-index: 1;
}

.result .player-info .summoner{
    position: absolute;
    bottom: 20%;
    left:23%;
    font-size: 40px;
    color: #fff;
    z-index: 1;
}

.result .player-info .level{
    position: absolute;
    bottom: 10%;
    left:23%;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

.result .player-info .back-player{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 15px;
    border:1px solid #2e2e2e;
    backdrop-filter: blur(2px);
    z-index: 0;
    opacity: 0.7;
}


.result .player-info .rank{
    position: absolute;
    bottom: 1%;
    left:23%;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

.maestry{
    margin-top: 10px;
    grid-area: 2/1/3/2;
}

.maestrys{
    position: relative;
    width: 100%;
    /* background: linear-gradient(to bottom, #161616bb , #db00ef); */
    
    background: linear-gradient(120deg, #4613b4, #db00ef );
    border: 1px solid #2e2e2e;
    border-radius: 10px;
    margin-bottom: 20px;
}

.maestrys img{
    width: 100px;
    position: relative;   
    border-radius: 10px;
}

.maestrys .info-maestry{
    list-style: none;
    position: absolute;
    left: 130px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);

}


.partida{
    position: relative;
    width: 100%;
    grid-area: 1/2/3/3;
    z-index: 2;
}




.erro{ 
    margin-top: 30px;
    background: linear-gradient(120deg, #4613b4, #db00ef );
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 300px;
    width: 1000px;
    padding: 10px;
    border-radius: 20px;
    z-index: 200    ;
}

.erro h1{
    text-align: center;
}

.erro img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 80%;
} 